{% load static %}
{% load cart_filters %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CART</title>
    <link rel="stylesheet" type="text/css" href="{% static 'store/styles.css' %}">
</head>
<body>

<!-- Navbar -->
     <header id="navbar">
        <nav>
            <!-- Logo -->
             <a href="{% url 'home' %}" class="logo">My Logo</a>

             <!-- Menu -->
              <ul class="menu">
                <li class="dropdown">
                    <a href="#">About</a>
                    <ul class="dropdown-content">
                        <li><a href="#">Status</a></li>
                        <li><a href="#">Journey</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#">Market</a>
                    <ul class="dropdown-content">
                        <li><a href="#">Status</a></li>
                        <li><a href="#">Journey</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#">Brands</a>
                    <ul class="dropdown-content">
                        <li><a href="#">Status</a></li>
                        <li><a href="#">Journey</a></li>
                    </ul>
                </li>
                
              </ul>

              <ul class="menu-1">
              <li><a href="#">Login</a></li>
              <li><a href="{% url 'home' %}">Home</a></li>
              </ul>
        </nav>
     </header>
<br>
<br>
<br>
<br>

<div class="cart-items">
    {% for product in products %}
    <div class="cart-item" >
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
        <div class="item-details">
            <h2>{{ product.name }}</h2>
            <p>KES {{ product.price }}</p>
            <div class="quantity-control">
                <a href="{% url 'remove_from_cart' product.sku %}">-</a>
                <span>{{ cart|get_item:product.sku }}</span>
                <a href="{% url 'add_to_cart' product.sku %}">+</a>
            </div>
            <a href="{% url 'delete_from_cart' product.sku %}" class="delete-btn">Delete</a>
        </div>
    </div>
    {% endfor %}
</div> 
<a href="{% url 'home' %}">Continue Shopping</a> 
</body>
</html>