{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'store/styles.css' %}">
</head>
<body class="body-signup">
    <div class="main-signup">
        <h1>Sign Up</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Sign up</button>
        </form>
        <p>Already have an account? <a href="{% url 'login' %}">Login Here</a></p>
    </div>
</body>
</html>